<h1>TinyURL</h1>

<a href="/urls">URLs</a> | <a href="/urls/new">Create new TinyURL</a><br>
<% if (user) { %>
<h2>User: <%= user.email %></h2>
<form method="POST" action="/logout">
  <button type="submit" class="btn btn-primary">Logout</button>
</form>

<% } else { %>
<a href="/register">Register</a> | <a href="/login">Login</a>
<% } %>