<h1>TinyURL</h1>

<% if (user) { %>
<h2>User: <%= user.email %></h2>
<form method="POST" action="/logout">
  <button type="submit" class="btn btn-primary">Logout</button>
</form>

<% } else { %>
<a href="/register">Register</a>
<a href="/login">Login</a>
<% } %>